<ion-row>
  <div [ngClass]="login ? 'justify-content-center' : 'justify-content-around'"
    class="container d-flex flex-column align-items-center">

    <ion-icon (click)="voltar()" class="btn-back" style="font-size: 45px;"
      name="chevron-back-circle-outline"></ion-icon>

    <div [ngStyle]="{'margin-bottom': login ? '35px' : '0px'}"
      class="container-logo d-flex flex-column align-items-center justify-content-center">
      <ion-icon style="font-size: 220px;" name="person-circle-outline"></ion-icon>
    </div>



    <div class="d-flex flex-column container-inputs justify-content-between">
      
      <ion-item>
        <ion-label position="floating">Nome*</ion-label>
        <ion-input shape="round" class="input-default"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">E-mail*</ion-label>
        <ion-input shape="round" class="input-default" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Senha*</ion-label>
        <ion-input shape="round" class="input-default" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirme a sua senha*</ion-label>
        <ion-input shape="round" class="input-default" type="password"></ion-input>
      </ion-item>
      

      <button class="btn-act btn-secondary">
        <span>Cadastrar</span>
      </button>

    </div>

  </div>
</ion-row>